@charset "utf-8";
.body-videos .titulo1 {
    position: static;
    margin-top: 10vh;
    color: white;
    padding: 10px;
    text-align: center;
}
.body-videos .titulo2 {
    position: static;
    margin-top: 10vh;
    color: white;
    padding: 10px;
    text-align: center;
}
.content {
    text-align: center;
    padding-top: 20px;
    transition: 1s;
}
.content1 {
    width: 727px;
    height: 409px;
    border-radius: 23px;
    box-shadow: 10px 10px 10px var(--color-black);
    overflow: hidden;
    position: static;
    margin: auto;

}
.content1 .slide01 iframe {
    height: 100%;
    width: 100%;
}
.navigation1 {
    margin-top: 1px;
    position: static;
    margin: auto;
    width: 15%;
    padding: 10px;
    display: flex;
}
.bar1 {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}
.bar1:hover {
    background-color: white;
}
input {
    display: none;
}
.slides1 {
   display: flex; 
   width: 500%;
   height: 100%;
}
.slide01 {
    width: 20%;
    transition: .6s;
}
#slide1:checked ~.s1 {
    margin-left: 0;
}
#slide2:checked ~.s1 {
    margin-left: -20%;
}
#slide3:checked ~.s1 {
    margin-left: -40%;
}
#slide4:checked ~.s1 {
    margin-left: -60%;
}
#slide5:checked ~.s1 {
    margin-left: -80%;
}

/* bloco de videos 2 */
.content2 {
    width: 727px;
    height: 409px;
    border-radius: 23px;
    box-shadow: 10px 10px 10px var(--color-black);
    overflow: hidden;
    position: static;
    margin: auto;
}
.content2 .slide02 iframe {
    height: 100%;
    width: 100%;
}
.navigation2 {
    margin-top: 1px;
    position: static;
    margin: auto;
    width: 15%;
    padding: 10px;
    display: flex;
}
.bar2 {
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;
}
.bar2:hover {
    background-color: white;
}
.slides2 {
    display: flex; 
    width: 500%;
    height: 100%;
 }
 .slide02 {
    width: 20%;
    transition: .6s;
}
#slide6:checked ~.s2 {
    margin-left: 0;
}
#slide7:checked ~.s2 {
    margin-left: -20%;
}
#slide8:checked ~.s2 {
    margin-left: -40%;
}
#slide9:checked ~.s2 {
    margin-left: -60%;
}
#slide10:checked ~.s2 {
    margin-left: -80%;
}
@media screen and (max-width: 768px) {
    .body-videos .titulo1 {
        position: static;
        margin-top: 10vh;
        color: white;
        padding: 10px;
        text-align: center;
        font-size:x-large;
    }
    .content1 {
        width: 90%;
        border-radius: 23px;
        overflow: hidden;
        position: static;
        margin: auto;
    }
    .navigation1 {
        top:auto ;
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
    .body-videos .titulo2 {
        top: auto;
        position: static;
        color: white;
        text-align: center;
        font-size:x-large;
    }
    .content2 {
        width: 90%;
        border-radius: 23px;
        overflow: hidden;
        position: static;
        margin: auto;
    }
    .navigation2 {
        top: auto;
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}