@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right,var(--Dark-cyan2), var(--Very-dark-cyan));
}

.img_logo_header {
    width: 45px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header {
    position: fixed;
    background-color: var(--Very-dark-cyan2);
    box-shadow: 4px 4px 4px var(--color-black);
    height: 3.5em;
    width: 90%;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1;
}

.navigation_header {
    gap: 3em;
}

.navigation_header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 1s;
}

.navigation_header a:hover{
    color: var(--Strong-cyan);
}

.active {
    border-radius: 5px;
    border-color: #0FC2C0;
    border-style: groove;
    padding: 8px;
}

.box {
    background-color: green;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 10px 10px 10px var(--color-black);
    width: 60%;
    height: 500px;
    padding: 12px;
    margin: auto;
    margin-top: 45px;
    overflow: auto;
}

.content {
    text-align: center;
    padding-top: 20px;
    transition: 1s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.box h1{
    color: var(--color-white);
    text-shadow: 0.01em 0.1em 0.02em var(--color-black);
    text-align: center;
    padding-bottom: 30px;
}

.box h2 {
    color: var(--color-white);
    text-shadow: 0.1em 0.1em 0.02em var(--color-black);
    text-align: center;
    padding-bottom: 30px;
}

.box h3 {
    color: var(--color-white);
    text-shadow: 0.1em 0.1em 0.02em var(--color-black);
    text-align: center;
    padding-bottom: 30px;
}

.box h4 {
    color: var(--color-white);
    text-shadow: 0.1em 0.1em 0.02em var(--color-black);
    text-align: center;
    padding-bottom: 30px;
}

.box p {
    color: var(--color-white);
    text-shadow: 0.1em 0.1em 0.02em var(--color-black);
    font-size: 20px;
    text-align: left;
    padding-bottom: 15px;
}

h2 {
    color: var(--color-black);
    text-align: center;
}

p {
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: fixed;
        flex-direction: column;
        top: 0;
        background-image: linear-gradient(to right, var(--Dark-cyan2), var(--Very-dark-cyan));
        border-radius: 10px;
        box-shadow: 10px 10px 10px black;
        height: 100%;
        width: 30vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
        z-index: 3;
    }
    .box {
        background-image: linear-gradient(to right, rgba(177, 177, 4, 0.719), green);
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 10px 10px 10px var(--color-black);
        width: 90%;
        padding: 12px;
        margin: auto;
        align-items: flex-start;
        margin-top: 45px;
        line-height: 30px;
    }
}


@keyframes showSidebar {
    from {margin-left: -100vw;}
    top {margin-left: -10vw;}
}

:root {
--Strong-cyan: #0fc2c0;
--Dark-cyan: #0CABA8;
--Dark-cyan2: #008F8C;
--Very-dark-cyan: #015958;
--Very-dark-cyan2: #023535;
--color-black: #000000;
--Cinza: #ffffff23;
--color-white: #ffffff;

}